.task {
    background-color: white;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    min-height: 5em;
    color: black ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.stats {
    background-color: gray;
    border-radius: 5px;
    padding: 3px;
}