
.heroItem {
    box-sizing: border-box;
    width: 50%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    /* height: 50vh; */
    padding-left: 2%;
    padding-right: 2%;
    margin: 0 auto;
    
}

.formStyle {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    padding: 1em;
}
.formStyle >input {
    width: 30vw;
    padding: 0.5em;
    border-radius: 5px;
}
.formStyle > button {
    width: 10vw;
    padding: 0.5em;
    border-radius: 5px;
}